@keyframes slideInRight {
    0%{
        transform: translateX(200);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.slideIn {
    animation: slideInRight 1s ease;
}